
  li {
    display: inline;
  }
  a {
       text-decoration: none;     
          }
nav {
  text-align: right;
  height: 25px;
  line-height: 25px;
}
nav img {
  float: left;
  margin-top: 2px;
}
body {
    text-align: center;
}